@model IEnumerable<ContactFormulier>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<DIV>
    <h3>Laatste berichten:</h3>

    <ul>
        @foreach (ContactFormulier bericht in Model)
        {
            <li>
                @bericht.Email : @bericht.Bericht
            </li>
        }
    </ul>
</DIV>